
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Nunito", serif;
    font-weight: 300;
}
body{
    overflow-x: hidden;
}
.container header{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
}
.container header p{
    color: white;
    font-weight: 400;
}
.container .top-box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}
.container .top-box .logo{
    cursor: pointer;
}
.container .top-box .logo img{
    width: 200px;  
    cursor: pointer;
}
.container .top-box .menubar{
    padding: 5px;
}
.container .top-box .menubar a{
    text-decoration: none;
    font-size: 28px;
    color: black;
}
.container .top-box .icon-gallery{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.container .top-box .icon-gallery a{
    text-decoration: none;
    font-size: 28px;
    color: black;
}
.container .bt-2{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.container .bt-2 a{
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-radius: 1rem;
    padding: 10px;
}
.container .bt-2 #new{
    background-color: black;
    color: white;
    padding: 10px;
}
.container .design-collection{
    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(1 ,1fr);
    grid-template-columns: repeat(5 , 1fr);
    margin-left: 30px;
}

.container .design-collection .box img{
    height: 350px;
    cursor: pointer;
}
.container .design-collection .d1{
    height: 350px;
    /* background-image: url(/d1.webp); */
    transition: background-image 0.3s ease-in-out;
    cursor: pointer;
}
.container .design-collection  .d1 img:hover{
    background-image: url(d2.webp);
}
.container .design-collection .box .product-detail .product-size{
    display: flex;
    gap: 20px;
}
.container .design-collection .box .product-detail .product-size .size-option{
    color: grey;
    font-size: small;
}
.container .view{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container .view a{
    font-size: 10px;
    letter-spacing: 2px;
    text-decoration: none;
    border: 1px solid grey;
    padding: 8px 12px;
    color: black;
}
.container .view a:hover{
    border: 1px solid black;
}
.container  .season{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.container .season h3{
    font-size: 2rem;
    font-weight: 400;
}
.container .season-design{
    display: grid;
    grid-template-rows: repeat(1 , 1fr);
    grid-template-columns: repeat(4 , 1fr);
    column-gap: 20px;
    margin-left: 10px;
    margin-top: 30px;
}

.container .season-design .seas-box img{
    height: 450px;
    border-radius: 2rem;
    transition: 0.5s;
}
.container .season-design .seas-box img:hover{
    transform: scale(1.1);
}
.container .season-design .seas-box .seas-detail{
    position: relative;
    bottom: 40px;
    left: 20px;
}
.container .season-design .seas-box .seas-detail h3{
    font-size: 22px;
    font-weight: 500;
    color: white;
}
.container .new-col-bt{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 20px;
}
.container .new-col-bt a{
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 1rem;
    color: black;
}
.container .new-col-bt #sweat{
    background-color: black;
    color: white;
    border-radius: 1rem;
}
.container .new-design{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    margin-top: 60px;
    margin-left: 15px;
}
.container .new-design img{
    height: 480px;
}
.container .new-design .new-box .new-size{
    display: flex;
    gap: 10px;
}
.container .new-design .new-box .new-size .new-op-size{
    color: grey;
    font-size: 13px;
}
.container .all{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.container .all a{
    font-size: 10px;
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid grey;
}
.container .all a:hover{
    border: 1px solid black;
}
.container .trend-txt {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.container .trend-txt h3{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 3px;
}
.container .trending-collection{
    display: grid;
    flex-direction: row;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4 , 1fr);
    margin-left: 20px;
    margin-top: 50px;
    column-gap: 20px;
}
.container .trending-collection .trending-box img{
    height: 450px;
    transition: transform 0.3s;
    border-radius: 2rem;
}
.container .trending-collection .trending-box img:hover{
    transform: scale(1.1);
}
.container .trending-collection .trending-box .trend-detail{
    position: relative;
    bottom: 40px;
    left: 20px;
}
.container .trending-collection .trending-box .trend-detail h3{
    color: white;
    font-weight: 400;
}
.container .jean-bt{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.container .jean-bt a{
    text-decoration: none;
    padding: 8px 15px;
    color: black;
    border: 1px solid black;
    border-radius: 1rem;
    font-size: 14px;
    font-weight: 400;
}
.container .jean-bt #jeans{
    background-color: black;
    color: white;
}
.container .last-image-collection{
    display: grid;
    grid-template-rows: repeat(1 , 1fr);
    grid-template-columns: repeat(4 , 1fr);
    column-gap: 20px;
    margin-left: 20px;
    margin-top: 60px;
}
.container .last-image-collection .image-box img{
    height: 450px;
}
.container .last-image-collection .image-box .image-size {
    display: flex;
    gap: 10px;
}
.container .last-image-collection .image-box .image-size .img-option-size{
    color: grey;
    font-size: 13px;
}
.container .bottom-view{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container .bottom-view a{
    text-decoration: none;
    border: 1px solid grey;
    padding: 8px 12px;
    letter-spacing: 3px;
    font-size: 10px;
    color: black;
}
.container .bottom-view a:hover{
    border: 1px solid black;
}
footer {
    background-color: white;
    padding: 40px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-bottom: 40px;
}

.footer-column h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}
.footer-column ul li .unline{
    text-decoration: underline;
}

.newsletter-section {
    grid-column: 1 / -1;
}

.newsletter-section h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.newsletter-section p {
    font-size: 14px;
    margin-bottom: 20px;
}

.newsletter-form {
    display: flex;
    max-width: 15rem;
    border-bottom: 2px solid black;
}

.newsletter-form input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

.newsletter-form button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.social-links {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.social-links a {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
}
.copyright {
    text-align: center;
    font-size: 14px;
}

.made-in-india {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}
.made-in-india i {
  color:blue;
}